extends base
block content
    section#filter-content
        .background-color-container
            .filter
                .tour-result
                    h4(id='busDepartureCity')= buses[0].busDepartureCity.toUpperCase()
                    span
                        i.fa.fa-light.fa-arrow-right
                    h4(id='busArrivalCity')= buses[0].busArrivalCity.toUpperCase()
                    h4(id='busDate')= `${moment(searchedDate).format("LL").toUpperCase()}`
                h4#filter-head
                    span
                        i.fa.fa-solid.fa-filter  
                        | FILTERS
                    span#border
                h4 BUS TYPES
                .bus-type.filter-tile.filter-tile-flex
                    input#seater(type='checkbox' name='seater', class='busTypeInput globalInput')
                    label(for='seater', id='busTypeID')  SEATER 
                    input#sleeper(type='checkbox' name='sleeper', class='busTypeInput globalInput')
                    label(for='sleeper', id='busTypeID')  SLEEPER
                    input#AC(type='checkbox' name='AC', class='busTypeInput globalInput')
                    label(for='AC', id='busTypeID')  AC
                    input#NONAC(type='checkbox' name='NONAC', class='busTypeInput globalInput')
                    label(for='NONAC', id='busTypeID')  NONAC
                h4 DEPARTURE TIME
                .departure-time.filter-tile.filter-tile-flex
                    input#departure-before-06(type='checkbox' name='departure-before-06' class='busDepartureInput globalInput')
                    label(for='departure-before-06')  Before 6 am
                    input#departure-06to12(type='checkbox' name='departure-06to12'  class='busDepartureInput globalInput')
                    label(for='departure-06to12')  6 am to 12 pm
                    input#departure-12to18(type='checkbox' name='departure-12to18'  class='busDepartureInput globalInput')
                    label(for='departure-12to18')  12 pm to 6 pm
                    input#departure-after-18(type='checkbox' name='departure-after-18'  class='busDepartureInput globalInput')
                    label(for='departure-after-18')  After 6 pm

                h4
                    label(for='boarding-point') BOARDING POINT
                .boarding-point.filter-tile
                    input#boarding-point(type='text' name='boarding-point' placeholder='BOARDING POINT')
                h4
                    label(for='dropping-point') DROPPING POINT
                .dropping-point.filter-tile
                    input#dropping-point(type='text' name='dropping-point' placeholder='DROPPING POINT')
                h4 AMENITIES
                .amenities.filter-tile
                    input#wifi(type='checkbox' name='wifi', class='amn-tile globalInput')
                    label(for="wifi") 
                        i.fa.fa-solid.fa-wifi
                        |  Wifi
                    .amneites-tile
                    input#chargin-station(type='checkbox' name='charging-station', class='amn-tile globalInput')
                    label(for="chargin-station") 
                        i.fa.fa-solid.fa-charging-station
                        |  Charging Point
                    .amneites-tile
                    input#video(type='checkbox' name='video', class='amn-tile globalInput')
                    label(for="video") 
                        i.fa.fa-solid.fa-video
                        |  Movie
                    .amneites-tile
                    input#bed(type='checkbox' name='bed', class='amn-tile globalInput')
                    label(for="bed") 
                        i.fa.fa-solid.fa-bed
                        |  Blankets
                    .amneites-tile
                    input#restroom(type='checkbox' name='restroom', class='amn-tile globalInput')
                    label(for="restroom") 
                        i.fa.fa-solid.fa-restroom
                        |  Toilet
                .filter-tile.booking-tile.hidden
                    form(action='')
                    .seat-details
                        .seat-selection
                            .seat-booking-details
                                #booking.booking-header(style='background-color: green; color: #fff;')
                                    h3(style='font-weight: lighter;') Seat Details
                                    h3(style='font-weight: lighter;') Price
                                .booking-content
                                #booking
                                    h4 SubTotal
                                    h4#booking-price
                    button#submit(type='submit' style='background-color: green;') Buy Tickets
            
            #tour-content
                .head-tile
                    #bus
                        span(style='font-weight: bolder')= `Buses Found (${buses.length}) `
                    div Departure
                    div Duration
                    div Arrival
                    div Ratings
                    div Fare
                    div Seats Available
                each bus in buses
                    .bus-content
                        .tour-tile
                            #bus
                                .column-details
                                    div(style='font-weight: bolder')= bus.busName
                                        .boarding= bus.busType
                                        .icons
                                            - for(const amn of bus.busAmneties) {
                                                - if(amn === "wifi"){
                                                    i.fa.fa-solid.fa-wifi
                                                -}
                                                - if(amn === "charging-station"){
                                                    i.fa.fa-solid.fa-charging-station
                                                -}
                                                - if(amn === "bed"){
                                                    i.fa.fa-solid.fa-bed
                                                -}
                                                - if(amn === "video"){
                                                    i.fa.fa-solid.fa-video
                                                -}
                                                - if(amn === "restroom"){
                                                    i.fa.fa-solid.fa-restroom
                                                -}
                                            - }
                                            
                            div 
                                .column-details
                                    div(style='font-weight: bolder ;font-size: 25px;')= bus.busDepartureTime 
                                    .boarding= bus.busBoardingLocation.toUpperCase()
                            div=  `${bus.busTravelDuration}Hrs`
                            div
                                .column-details
                                    div(style='font-weight: bolder; font-size: 25px;')= bus.busArrivalTime
                                    .arrival-date(style='color:#DA2C43;')= `${moment(bus.busArrivalDate).format("LL").toUpperCase()}`
                                    .arrival= bus.busDroppingLocation.toUpperCase()
                            div
                                div(style='background-color: green; color: white; width: 80px; padding: 5px 10px;')
                                    i.fa.fa-solid.fa-star
                                    span= `${bus.busRatingsAverage ? bus.busRatingsAverage : "NA"}`

                            div &#x20B9 
                                span=`${bus.busFare}`
                            div
                                .column-details
                                    div= bus.busSeatsAvailable  
                        .bottom-bar
                            #bus-photos Bus Photos
                            #bus-reviews View Reviews
                            #view-seatBtn(style='background-color:#B87333;') View Seats

                .review-photo.hidden
                    .slideshow-container
                        // Full-width images with number and caption text
                        .mySlides.fade
                            img(src='./img/bus/shivshahi-1.jpg')
                        .mySlides.fade
                            img(src='./img/bus/shivshahi-2.jpg')
                        .mySlides.fade
                            img(src='./img/bus/shivshahi-3.jpg')
                        .mySlides.fade
                            img(src='./img/bus/shivshahi-4.jpg')
                        // Next and previous buttons
                        a.prev &#x276E;
                        a.next &#x276F;

                .view-seat.hidden
                    #front FRONT
                    .view-seat-container
                        // ///////////////////////
                        .left-sitting
                            h2 DOOR
                            .pair-seat
                                #user-seat A1
                                #user-seat A2
                            .pair-seat
                                #user-seat B1
                                #user-seat B2
                            .pair-seat
                                #user-seat C1
                                #user-seat C2
                            .pair-seat
                                #user-seat D1
                                #user-seat D2
                            .pair-seat
                                #user-seat E1
                                #user-seat E2
                            .pair-seat
                                #user-seat F1
                                #user-seat F2
                            .pair-seat
                                #user-seat G1
                                #user-seat G2
                            .pair-seat
                                #user-seat H1
                                #user-seat H2
                            .pair-seat
                                #user-seat I1
                                #user-seat I2
                            .pair-seat
                                #user-seat J1
                                #user-seat J2
                        .right-sitting
                            #user-photo
                                i.fa.fa-2x.fa-solid.fa-user
                            .pair-seat
                                #user-seat A3
                                #user-seat A4
                            .pair-seat
                                #user-seat B3
                                #user-seat B4
                            .pair-seat
                                #user-seat C3
                                #user-seat C4
                            .pair-seat
                                #user-seat D3
                                #user-seat D4
                            .pair-seat
                                #user-seat  E3
                                #user-seat E4
                            .pair-seat
                                #user-seat F3
                                #user-seat F4
                            .pair-seat
                                #user-seat G3
                                #user-seat G4
                            .pair-seat
                                #user-seat H3
                                #user-seat H4
                            .pair-seat
                                #user-seat I3
                                #user-seat I4
                            .pair-seat
                                #user-seat J3
                                #user-seat J4
                    #front REAR
        script(type='module' src='./js/tour.js')
